@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;1,700&display=swap");

body {
  background-color: #000;
  color: #fff;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 1rem 1rem 3rem;

  letter-spacing: .5px;
  text-shadow: 1px 1px  #141;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 2rem;
  width: 100%;
}

.image {
  aspect-ratio: 315 / 250;
  width: 100%;
  box-shadow: 0 0 8px #333;
  border-radius: .5rem;
  box-sizing: border-box;
  transition: box-shadow .15s ease;
}

.image:hover {
  box-shadow: 0 0 12px #CA0000;
}

.title {
  color: #3ACD00;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: .5rem;
}

.jam {
  margin: 0 auto;
  width: 100%;
  color: white;
  text-decoration: none;
}

.jam:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  #container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  #container {
    grid-template-columns: 1fr;
  }

  .jam {
    max-width: 320px;
  }
}